@import "../../../scss/color-vars";

.create-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.1875rem;

  &__close-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--delete);
      border-radius: 5px;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--delete);
      border-radius: 5px;
      transform: rotate(-45deg);
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    gap: 1.25rem;

    select {
      font-size: 0.75rem;
    }
  }

  &__title {
    margin-bottom: 0 !important;
  }

  &__small-title {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    color: var(--content-text-color);
  }

  &__task-input {
    width: 100%;
    margin-bottom: 1.875rem;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.625rem;

    div {
      display: flex;
      gap: 0.625rem;
    }
  }

  &__cancle {
    background-color: var(--delete);
  }

  &__save-as-template {
    border: 1px solid var(--accent);
    color: var(--accent) !important;
  }

  &__add {
    background-color: var(--accent);
  }
}

.create-task-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.875rem;
  margin-bottom: 2.8125rem;
}
