.progress-chart {
  &__chart {
    width: 99%;
    height: 200px;
  }
}

// media queries
@media (min-width: 768.99px) and (max-height: 800.99px) {
  .progress-chart__chart {
    height: 110px;
  }
}
