@import "../../scss/color-vars";

.today-info {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }

  &__item {
    svg {
      margin-right: 0.625rem;
    }
  }

  &__item-title {
    font-size: 0.875rem;
    color: var(--content-text-color);
    transition: color 0.3s ease-in-out;
    margin-bottom: 0.3125rem;
  }

  &__value {
    font-size: 1.5625rem;
    font-weight: 600;
    color: var(--content-text-color);
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }
}

// media queries
@media (max-width: 425.99px) {
  .today-info {
    &__content {
      flex-direction: column;
    }
  }
}
