@import "../../scss/color-vars";

.weekly-results {
  &__info-title {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--content-text-color);
    transition: color 0.3s ease-in-out;
    margin-bottom: 0.625rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__circle {
    border: 1px solid var(--accent);
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 0.75rem;
      font-weight: 400;
      color: var(--content-text-color);
      transition: color 0.3s ease-in-out;
    }
  }
}

// media queries
@media (max-width: 425.99px) {
  .weekly-results {
    &__info {
      flex-direction: column;
    }
  }
}
