@import "../../scss/color-vars";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem 0;

  &__new-task {
    padding: 0.625rem 1.5625rem;
    font-weight: 600;
    color: $LTwhite;
    background-color: $accent;
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.625rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }

  &__navigation {
    display: none;
    position: relative;
    flex: 0 1 1.875rem;
    height: 1.875rem;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 20%;
      left: 0;
      background-color: $LTdark;
      width: 100%;
      height: 2px;
    }

    span {
      display: inline-block;
      background-color: $LTdark;
      width: 100%;
      height: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 20%;
      left: 0;
      background-color: $LTdark;
      width: 100%;
      height: 2px;
    }
  }

  &__menu {
    position: relative;
    min-width: 24px;
    min-height: 24px;
    background-color: $LTbackground;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%) rotate(135deg);
      width: 40%;
      height: 40%;
      border-top: 2px solid $accent;
      border-right: 2px solid $accent;
      margin-right: 40%;
    }
  }
}

// media queries
@media (max-width: 998.99px) {
  .header__navigation {
    display: flex;
  }

  .header__theme {
    display: none;
  }
}

@media (max-width: 550.99px) {
  .header {
    &__new-task {
      p {
        display: none;
      }

      svg {
        margin-right: 0;
      }
    }

    &__user {
      p {
        display: none;
      }
    }
  }
}
