@import "../../scss/color-vars";

.login-page {
  height: 100%;
  flex: 0 1 100%;
  padding: 1.5625rem;
  background-color: var(--white);

  &__content {
    height: calc(100% - 54px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  &__form {
    padding: 1.25rem;
    flex: 0 1 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--accent);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__input {
    padding: 0.625rem 0.9375rem;
    border: 1px solid rgba(40, 40, 70, 0.1);
    border-radius: 8px;
  }

  &__log-in {
    padding: 0.625rem 1.5625rem;
    background-color: var(--accent);
    font-weight: 600;
    color: var(--white);
  }

  &__registration {
    font-size: 0.875rem;

    button {
      color: var(--accent);
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    font-size: 0.875rem;
    color: var(--content-text-color);
    margin-top: auto;

    a {
      text-decoration: underline;
      color: var(--content-text-color);
    }
  }
}
