@import "../../scss/color-vars";

.sidebar {
  position: relative;
  z-index: 1000;
  padding: 1.25rem;
  background-color: var(--component-bg);
  transition: background-color 0.3s ease-in-out;
  flex: 0 1 19%;
  display: flex;
  flex-direction: column;

  &__logo {
    margin-bottom: 4.0625rem;
  }

  &__mobile-close {
    background-color: var(--delete);
    margin-bottom: 1.25rem;
    display: none;
  }

  &__top {
    margin-bottom: 3.75rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 1.25rem;
  }

  &__list {
    position: relative;
    margin-bottom: 1.875rem;
  }

  &__item {
    a {
      display: flex;
      align-items: center;
      color: var(--content-text-color);
      transition: color 0.3s ease-in-out;
    }

    svg {
      margin-right: 0.75rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  &__category-add {
    display: flex;
    align-items: center;
    color: var(--accent);

    svg {
      margin-right: 0.75rem;

      path {
        stroke: var(--accent) !important;
        transition: stroke 0.3s ease-in-out;
      }
    }
  }

  &__log-out {
    display: flex;
    align-items: center;
    margin-top: auto;
    color: var(--content-text-color);
    transition: color 0.3s ease-in-out;

    svg {
      margin-right: 0.75rem;
    }
  }
}

.sidebar-active-point {
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 35px;
  height: 20px;
  background-color: var(--accent);
  transition: top 0.3s ease-in-out;
}

// media queries
@media (max-width: 998.99px) {
  .sidebar {
    min-height: 400px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    display: flex;
    align-items: center;
    padding: 3.75rem 0;
    transition: top 0.3s ease-in-out;
    overflow-y: auto;

    &__top {
      width: 120px;
    }

    &__bottom {
      width: 120px;
    }

    &__mobile-close {
      display: block;
    }

    &__logo {
      display: none;
    }

    &__log-out {
      margin-top: 3.125rem;
    }
  }

  .sidebar-active-point {
    display: none;
  }
}

.sidebar-burger-active {
  top: 0;
}

@media (max-height: 600.99px) and (max-width: 998.99px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    &__mobile-close {
      top: 40px;
      right: 30px;
    }

    &__log-out {
      margin: 0;
    }
  }
}
