@import "../../scss/color-vars";

.sidebar {
  position: relative;
  z-index: 100;
  padding: 1.25rem;
  background-color: $LTwhite;
  flex: 0 1 19%;
  display: flex;
  flex-direction: column;

  &__logo {
    margin-bottom: 4.0625rem;
  }

  &__top {
    margin-bottom: 3.75rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $accent;
    margin-bottom: 1.25rem;
  }

  &__list {
    margin-bottom: 1.875rem;
  }

  &__item {
    a {
      display: flex;
      align-items: center;
      color: $LTdark;
    }

    svg {
      margin-right: 0.75rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  &__category-add {
    color: $accent;
  }

  &__log-out {
    display: flex;
    align-items: center;
    margin-top: auto;

    svg {
      margin-right: 0.75rem;
    }
  }
}
