@import "../../scss/color-vars";

.user-page {
  display: flex;
  gap: 3.125rem;

  &__title {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: var(--content-text-color);
  }

  &__profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      color: var(--accent);
      text-decoration: underline;
      font-weight: 300;
      font-size: 0.75rem;
    }
  }

  &__user-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    label {
      flex: 0 1 100%;

      input {
        width: 100%;
        padding: 0.75rem 0.9375rem;
        border: 1px solid var(--border-color);
        background-color: var(--background);
        border-radius: 0.4375rem;
        transition-property: border, background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        &::placeholder {
          color: var(--gray);
          transition: color 0.3s ease-in-out;
        }
      }
    }

    button {
      align-self: flex-start;
      background-color: var(--accent);
      color: var(--white);
      padding: 0.625rem 1.5625rem;
      border-radius: 0.5rem;

      &:disabled {
        background-color: var(--gray);
      }
    }
  }
}

// media queries
@media (max-width: 430.99px) {
  .user-page {
    flex-direction: column;
  }
}
