@import "./scss/color-vars";

.app {
  height: 100vh;
  display: flex;
}

.main {
  position: relative;
  flex: 0 1 81%;
  background-color: var(--background);
  transition: background-color 0.3s ease-in-out;
  padding: 0 4.375rem;

  &__content {
    display: flex;
    gap: 1.875rem;
  }

  &__left {
    flex: 0 1 53%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }

  &__right {
    flex: 0 1 47%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
}

// media queries
@media (max-width: 998.99px) {
  .main {
    flex: 0 1 100%;
  }
}

@media (max-width: 768.99px) {
  .app {
    height: 100%;
  }
  .main {
    padding: 0 2.1875rem 2.1875rem;

    &__content {
      flex-direction: column;
    }
  }
}
