@import "./scss/color-vars";

.app {
  height: 100vh;
  display: flex;
}

.main {
  flex: 0 1 81%;
  background-color: $LTbackground;
  padding: 0 4.375rem;

  &__content {
    display: flex;
    gap: 1.875rem;
  }

  &__left {
    flex: 0 1 53%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }

  &__right {
    flex: 0 1 47%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
}

// media queries
@media (max-width: 998.99px) {
  .main {
    flex: 0 1 100%;
  }
}
