@import "./scss/css-reset";
@import "./scss/color-vars";
@import "./scss/fonts";
@import "./scss/ui";

body {
  background-color: $LTbackground;
}

// index.scss styles
@media (max-width: 1285.99px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1055.99px) {
  html {
    font-size: 70%;
  }
}
