// * color variables
// common
$accent: #29a19c;
$subscribe: #ecca75;
$delete: #f05454;
$white: #ffffff;
// light theme
$LTwhite: #ffffff;
$LTdark: #282846;
$LTbackground: #fafafa;
// dark theme
$DTwhite: #f9f9f9;
$DTbackground: #222831;
$DTcomponentBackground: #2c3440;
