// user interface common styles
// smooth shadow
.shadow {
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
}
// border-radius: 10px
.br10 {
  border-radius: 0.625rem;
}
// component styles
.user-component {
  padding: 1.25rem;
  background-color: $LTbackground;
  border-radius: 0.625rem;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
}
// h3 component title
.h3-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: $accent;
  margin-bottom: 1.25rem;
}
// item-styles
.modal-field-styles {
  padding: 0.5rem 0.9375rem;
  border: 1px solid rgba(40, 40, 70, 0.1);
  border-radius: 0.625rem;
  font-size: 0.875rem;
  color: #000000;

  &::placeholder {
    color: #000000;
  }
}
// button styles
.button {
  border-radius: 0.5rem;
  padding: 0.625rem 1.5625rem;
  font-weight: 600;
  color: $LTwhite;
}
// error form styles
.form-error {
  color: $delete;
}
